### imgui-opengl-glfw-glew-cmake-demo

cmake-build-debug/

### https://raw.github.com/github/gitignore/c0ce1f9bf10083b46f037a7faa96db9b9c51ddb9/cmake.gitignore

CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


### https://raw.github.com/github/gitignore/c0ce1f9bf10083b46f037a7faa96db9b9c51ddb9/c++.gitignore

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


